<div class="collaspe navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'dolls' %}" id="shop-link">
                Shop
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shop-by-doll-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by Doll
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-by-doll-link">
                <a href="{% url 'dolls' %}?dolltype=amaris" class="dropdown-item">Amaris</a>
                <a href="{% url 'dolls' %}?dolltype=chaya" class="dropdown-item">Chaya</a>
                <a href="{% url 'dolls' %}?dolltype=dami" class="dropdown-item">Dami</a>
                <a href="{% url 'dolls' %}?dolltype=imani" class="dropdown-item">Imani</a>
                <a href="{% url 'dolls' %}?dolltype=kobe" class="dropdown-item">Kobe</a>
                <a href="{% url 'dolls' %}?dolltype=omario" class="dropdown-item">Omario</a>
                <a href="{% url 'dolls' %}?dolltype=plush ama" class="dropdown-item">Plush Ama</a>
                <a href="{% url 'dolls' %}?dolltype=rj" class="dropdown-item">RJ</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="more-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More...
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="more-link">
                <a href="{% url 'contact' %}" class="dropdown-item">Contact</a>
                <a href="{% url 'newsletter' %}" class="dropdown-item">Newsletter</a>
            </div>
        </li>
    </ul>
</div>