<div class="collaspe navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="" class="dropdown-item">Diverse Dolls</a>
                <a href="" class="dropdown-item ">Special Bundles</a>
                <a href="" class="dropdown-item ">Montessori Toys</a>
                <a href="" class="dropdown-item">Bags & Accessories</a>
                <a href="" class="dropdown-item">Nusery & kids Room Decor</a>
                <a href="" class="dropdown-item">Sales</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shop-by-doll-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by Doll
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-by-doll-link">
                <a href="" class="dropdown-item">Amaris</a>
                <a href="" class="dropdown-item">Chaya</a>
                <a href="" class="dropdown-item">Dami</a>
                <a href="" class="dropdown-item">Imani</a>
                <a href="" class="dropdown-item">Kobi</a>
                <a href="" class="dropdown-item">Omario</a>
                <a href="" class="dropdown-item">Plush Ama</a>
                <a href="" class="dropdown-item">RJ</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shop-by-category-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by Category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-by-category-link">
                <a href="" class="dropdown-item">Fabric Dolls</a>
                <a href="" class="dropdown-item">Plush Dolls</a>
                <a href="" class="dropdown-item">Crochet Dolls</a>
                <a href="" class="dropdown-item">Cushions</a>
                <a href="" class="dropdown-item">Bags & Accessories</a>
                <a href="" class="dropdown-item">Wall Art</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="more-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More...
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="more-link">
                <a href="" class="dropdown-item">About Us</a>
                <a href="" class="dropdown-item">Stockists</a>
                <a href="" class="dropdown-item">Contact</a>
                <a href="" class="dropdown-item">Store Policies</a>
                <a href="" class="dropdown-item">FAQ</a>
            </div>
        </li>
    </ul>
</div>