<div class="collaspe navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'dolls' %}" id="shop-link">
                Shop
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shop-by-doll-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by Doll
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-by-doll-link">
                <a href="" class="dropdown-item">Amaris</a>
                <a href="" class="dropdown-item">Chaya</a>
                <a href="" class="dropdown-item">Dami</a>
                <a href="" class="dropdown-item">Imani</a>
                <a href="" class="dropdown-item">Kobi</a>
                <a href="" class="dropdown-item">Omario</a>
                <a href="" class="dropdown-item">Plush Ama</a>
                <a href="" class="dropdown-item">RJ</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="more-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More...
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="more-link">
                <a href="" class="dropdown-item">About Us</a>
                <a href="" class="dropdown-item">Contact</a>
                <a href="" class="dropdown-item">Newsletter</a>
            </div>
        </li>
    </ul>
</div>